<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/list.css">

<div class="container d-flex justify-content-left mt-5">
    <h1>
        <%= field_of_study %> Mentors
    </h1>
</div>

<div class="container d-flex justify-content-left mt-5">
    <div class="mentorContainer">
        <ul>
            <% for (let user of users) {%>
            <% if(user.path){ %>
            <li><a class="list_of_mentors" href="/explore/<%=user._id%>">
                    <%= user.name.first %>
                    <%= user.name.last %>
                </a>
                <%= user.job_title %>
                <button id="profile_access"><a href="/restricted/<%=user._id%>">Restricted Access Profile</a></button>
            </li>
            <% } %>
            <% } %>
        </ul>
    </div>
</div>