<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/list.css">

<div class="container d-flex justify-content-left mt-5">
    <h1>
        <%= field_of_study %> Mentors
    </h1>
</div>

<div class="container d-flex justify-content-left mt-5">
    <div class="mentorContainer">
        <ul>
            <% for (let mentor of mentors) {%>
            <li><a class="list_of_mentors" href="/explore/<%=mentor._id%>">
                    <%= mentor.name.first %>
                    <%= mentor.name.last %>
                </a>
                <%= mentor.job_title %>
                <button id="profile_access"><a href="/restricted/<%=mentor._id%>">Restricted Access Profile</a></button>
            </li>
            <% } %>
        </ul>
    </div>
</div>