<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css" />
<link rel="stylesheet" href="/stylesheets/explore.css">

<div class="container">
    <div class="header mt-5 d-flex justify-content-center">
        <h1><%= user.name.first %> <%= user.name.last %></h1>
    </div>
    <div class="job-title d-flex justify-content-center mb-5">
        <% if(user.job_title){ %>
        <h2 id="job_title"><%= user.job_title.toUpperCase() %></h2>
        <% } else { %>
        <h2 id="job_title">Job Title</h2>
        <% } %>
    </div>

    <div class="mentorContainer d-flex justify-content-center">
        <!-- user image -->
        <div class="mentors"></div>
    </div>
    <div class="information">
        <div class="profileInformation col-sm">
            <div class="d-flex justify-content-center col-11">
                <div class="job-description info-section">
                    <h3>Job Description</h3>
                    <p class="unique_info"><%= user.job_description %></p>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="compensation info-section">
                    <h3>Annual Compensation</h3>
                    <p class="unique_info">$<%= user.salary %></p>
                </div>
                <div class="education info-section">
                    <h3>Education Requirements</h3>
                    <p class="unique_info"> <%= user.education_required  %></p>
                </div>
                <div class="field info-section">
                    <h3>Field</h3>
                    <p class="unique_info"><%= user.field_of_study  %></p>
                </div>
            </div>
        </div>
    </div>



    <div class="button_container d-flex justify-content-end align-items-center">
        <div class="me-5">
            <button class="navigation btn btn-info me-3">Previous</button>
            <button class="navigation btn btn-info">Next</button>
        </div>
        <button id="request_btn" class="btn btn-warning">Request Mentorship</button>
    </div>


    <div class="progress_bar_container">
        <div>
            <label for="mentee_slots" id="mentee_slot_label" class="text-white">Mentoring Spots Available</label>
        </div>
        <input type="range" class="mentee_slots" id="mentee_slots" name="mentee_slots" min="0" max="10">
    </div>
    <div id="reviews" class="text-white row justify-content-between">
        <div class="col-5">
            <% if(currentUser){ %>
            <h4 class="card-title">Leave Your Review Below:</h4>
            <form action="/explore/<%=user._id%>/reviews" method="POST" class="validated-form" novalidate>
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[score]" value="1" checked
                        aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[score]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[score]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[score]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[score]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[score]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div class="mb-3">
                    <textarea class="form-control" name="review[body]" id="body" cols="60" rows="5" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div>
                    <button class="navigation btn btn-info mt-2">Submit Review</button>
                </div>
            </form>
            <% } %>
        </div>
        <div class="col-5">
            <div>
                <h4 class="card-title mb-3">Mentor Reviews</h4>
                <% for(let review of user.reviews) {%>
                <div class="card bg-dark text-white p-3">
                    <h5><%= review.author.username %></h5>
                    <p class="starability-result" data-rating="<%=review.score%>">
                        <%= review.score %>
                    </p>
                    <p class="reviewText card-text"><%= review.body %></p>
                    <% if(currentUser && review.author.id === currentUser.id) {%>
                    <form action="/explore/<%= user._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="user_content text-white mt-5">
    <div class="video">Video Content</div>
</div>

</div>


<script src="/javascripts/validation.js"></script>
<script src="/javascripts/scroll.js"></script>