<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css" />
<link rel="stylesheet" href="/stylesheets/style.css">

<div class="showBody">
    <div class="container">
        <div class="showContainer">
            <div class="prevPicNext">
                <a class="navigation btn btn-info left" href="<%= idArray[idArray.indexOf(user.id) - 1] %>">Previous</a>

                <div class="avatar d-flex justify-content-center">
                    <% if(user.avatar.url) { %>
                    <img class="avatar__image" src="<%= user.avatar.url %>" alt="Mentor Image">
                    <% } else {%>
                    <img class="avatar__image"
                        src="https://images.unsplash.com/photo-1618085220188-b4f210d22703?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                    <% } %>
                </div>

                <a class="navigation btn btn-info right" href="<%= idArray[idArray.indexOf(user.id) + 1] %>">Next</a>
            </div>


            <div class="showPg__name mt-5 d-flex justify-content-center">
                <div class="text-white">Tier <%= user.tier %> </div>
                <h1><%= user.name.first %> <%= user.name.last %></h1>
            </div>

            <div class="line__styling"></div>

            <div class="job-title d-flex justify-content-center mb-5">
                <% if(user.job_title){ %>
                <h2 id="job_title"><%= user.job_title.toUpperCase() %></h2>
                <% } else { %>
                <h2 id="job_title">Job Title</h2>
                <% } %>
            </div>


            <div class="information">
                <div class="profileInformation col-sm">
                    <div class="job-description info-section">
                        <h3>Job Description</h3>
                        <p class="unique_info"><%= user.job_description %></p>
                    </div>
                    <div class="comp_edu_field">
                        <div class="compensation info-section">
                            <h3>Annual Compensation</h3>
                            <p class="unique_info">$<%= user.salary %></p>
                        </div>
                        <div class="education info-section">
                            <h3>Education Requirements</h3>
                            <p class="unique_info"> <%= user.education_required  %></p>
                        </div>
                        <div class="field info-section">
                            <h3>Field</h3>
                            <p class="unique_info"><%= user.field_of_study  %></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <div class="progress_bar_container">
            <div>
                <label for="mentee_slots" id="mentee_slot_label">Number of Mentees</label>
            </div>
            <input type="range" value="<%= user.mentees.length %>" class="mentee_slots" id="mentee_slots"
                name="mentee_slots" min="0" max="10">
        </div>


        <div class="msg_map_container">
            <div class="messageRequest_Container">
                <form action="/explore/<%=user._id%>/mentor" method="POST">
                    <button id="request_btn" class="btn btn-warning" name="mentees">Request Mentorship</button>
                </form>

                <form action="/messages" target="_blank" rel="noreferrer noopener">
                    <button id="room" name="room" value="<%= user.id %>" type="submit"
                        class="btn btn-info privateMsgBtn">Private Message</button>
                </form>
            </div>

            <div id='map'></div>
        </div>

        <div class="reviewGridTwo">
            <div>
                <h4 class="card-title mb-3">Mentor Reviews</h4>
                <% for(let review of user.reviews) {%>
                <div class="card bg-dark text-white p-3">
                    <h5><%= review.author.username %></h5>
                    <p class="starability-result" data-rating="<%=review.score%>">
                        <%= review.score %>
                    </p>
                    <p class="reviewText card-text"><%= review.body %></p>
                    <% if(currentUser && review.author.id === currentUser.id) {%>
                    <form action="/explore/<%= user._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>


    </div>
</div>


</div>
</div>



<script>  const mapToken = '<%-process.env.MAPBOX_TOKEN%>'; </script>

<!-- Workaround for JSON.stringify as it does not work any longer. Pass in numbers and parseFloat on map.js -->
<script> const coordinate1 = '<%- user.geometry.coordinates[0] %>';</script>
<script> const coordinate2 = '<%- user.geometry.coordinates[1] %>';</script>
<script>const userName = '<%- `${user.name.first} ${user.name.last}`%>'; </script>
<script>const title = '<%- user.job_title %>'; </script>



<script src="/javascripts/map.js"></script>
<script src="/javascripts/validation.js"></script>
<script src="/javascripts/private.js"></script>
<script src="/javascripts/scroll.js"></script>