<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/show.css">

<div class="container ">
    <div class="header my-5 d-flex justify-content-center">
        <h1 class="text-white">Explore Mentors</h1>
    </div>

    <div class="mentorContainer d-flex justify-content-center">
        <!-- mentor image -->
        <div class="mentors"></div>
    </div>
    <div class="information container">
        <div class="profileInformation">
            <div class="job-title d-flex justify-content-center mb-5">
                <h2><%= mentor.job_title.toUpperCase()  %> </h2>
            </div>
            <div class="name info-section">
                <h3> <%= mentor.name.first %> <%= mentor.name.last %> </h3>

                <p>Tier 2 Mentor</p>
            </div>
            <div class="compensation info-section">
                <h3>Annual Compensation</h3>
                <p>$<%= mentor.salary %></p>
            </div>
            <div class="job-description info-section">
                <h3>Job Description</h3>
                <p><%= mentor.job_description %></p>
            </div>
            <div class="education info-section">
                <h3>Education Requirements</h3>
                <p> <%= mentor.education_required  %></p>
            </div>
            <div class="field info-section">
                <h3>Field</h3>
                <p><%= mentor.field_of_study  %></p>
            </div>
        </div>
    </div>

    <button class="btn btn-warning">See More</button>
    <button class="btn btn-info">Next</button>

</div>