<% layout('/layouts/boilerplate') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="/stylesheets/chat.css">
<link rel="stylesheet" href="/stylesheets/style.css">


<div class="dashHeader">
    <h1 class="dashHeader__content">Mentor Dashboard</h1>
</div>

<nav class="dashboardNav">
    <header class="dashboardNav__head">
        <div class="dashboardNav__picture--container">
            <!-- insert profile picture -->
            <% if(user.avatar.url){ %>
            <img class="dashboardNav--picture" src="<%= user.avatar.url  %>" alt="">
            <% } else { %>
            <img class="dashboardNav--picture"
                src="https://images.unsplash.com/photo-1517849845537-4d257902454a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"
                alt="">
            <% } %>
        </div>
        <div class="dashboardNav--username">Welcome, <%= user.name.first %> </div>
    </header>
    <div class="dashboardNav__links">
        <a class="dashboardNav--link" href="#content">Upload Content</a>
        <a class="dashboardNav--link" href="#messages">Chat</a>
        <a class="dashboardNav--link" href="#analytics">Analytics</a>

        <div class="dropdown dashboardNav--link" href="#">Mentees
            <form action="/dashboard/<%= user.id %>/?_method=PUT" method="POST">
                <div class="dropdown-content">
                    <% for(let mentee of user.mentees){ %>
                    <input type="checkbox" value="<%= mentee %>" id="deleteMentee" name="deleteMentee">
                    <label for="mentee"> <%= mentee %> </label>
                    <button class="removeMentee">Delete</button>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="largeView">
    <div id="messages" class="messages">
        <div class="join-container">
            <header class="join-header">
                <h1>Group Chat</h1>
            </header>
            <main class="join-main">
                <form action="/chat" target="_blank" rel="noreferrer noopener">
                    <div class="join__inputContainer form-control">
                        <label for="room">Room</label>
                        <select name="room" id="room">
                            <option value="Group 1">All</option>
                            <option value="Group 2">Mentee 1</option>
                            <option value="Group 3">Mentee 2</option>
                        </select>
                    </div>
                    <button type="submit" class="btn">Join Chat</button>
                </form>
            </main>
        </div>
    </div>

    <div id="analytics" class="analytics">
        <div class="analytics__graph">
            <div class="analytics--chart">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="mediaRow">
    <a class="addContentLink" href="#">
        <div id="addContent" class="addContent">
            <div class="addContent__video">
                <div class="addContent--circle">
                    <div class="addContent--plus">+</div>
                </div>
            </div>
        </div>
    </a>
    <div id="uploads" class="uploads">
        <div class="uploaded__video">
            <video class="uploaded--style" width="400" loop controls>
                <source src="">
            </video>
        </div>
    </div>
</div>

<!-- Data Visualization -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/javascripts/charts.js"></script>
<script>
    // === include 'setup' then 'config' above ===

    var myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>



<!-- Dashboards usually contain

    Content Upload - Videos
    Messaging Access
    Analytics - (page views, goals for page completion, mentee progression, last mentee contact)