<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/style.css">


<div class="container">
    <div class="profile_container d-flex justify-content-start my-3">
        <h1>Edit Profile</h1>
    </div>

    <form action="/restricted/<%= user._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="profile_info">
            <div class="checkbox">
                <input type="checkbox" id="checkbox__delete" name="deleteImage" value="<%= user.avatar.filename %> ">
                <label for="checkbox__delete" class="text-white">Delete?</label>
            </div>
            <h2 class="profile__head">
                <% if(user.avatar.url){ %>
                <img class="profile__pic" src="<%= user.avatar.url %> " alt="">
                <% } else { %>
                <img class="profile__pic"
                    src="https://images.unsplash.com/photo-1517849845537-4d257902454a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"
                    alt="">
                <% } %>
                <%= user.name.first %>
                <%= user.name.last %>
            </h2>

            <div class="row row-col-6">
                <div class="col">
                    <div class="row g-3 section">
                        <label for="firstname" class="label form-label col-sm">Name</label>
                        <div class="col-md-4">
                            <input type="text" id="firstname" name="name[first]" placeholder="First Name"
                                class="form-control" aria-label="First name" value="<%=user.name.first%>">
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="lastname" name="name[last]" placeholder="Last Name"
                                class="form-control" aria-label="Last name" value="<%=user.name.last%>">
                        </div>

                    </div>
                    <div class="row g-3 section">
                        <label for="email" class="label form-label col-4">Email</label>
                        <div class="col-md-8">
                            <input type="email" id="email" name="email" placeholder="username@email.com"
                                class="form-control" aria-label="Email" value="<%=user.email%>">
                        </div>
                    </div>
                    <div class="row g-3 section">
                        <label for="username" class="label form-label col-sm">Username</label>
                        <div class="col-md-8">
                            <input type="username" id="username" name="username" placeholder="username"
                                class="form-control" aria-label="username" value="<%=user.username%>">
                        </div>
                    </div>

                    <div class="row g-3 section">
                        <label for="age" class="label form-label col-4">Age</label>
                        <div class="col-md-8">
                            <input class="age" type="text" name="age" id="age" placeholder="Enter your age"
                                aria-label="Age" value="<%=user.age%>">
                        </div>
                    </div>
                    <div class=" row g-3 section">
                        <label for="avatar" class="label form-label col-sm">Upload Profile Picture</label>
                        <div class="col-md-8">
                            <input class="form-control form-control-Sm" name="avatar" id="avatar" type="file">
                        </div>
                    </div>
                    <div class="row g-3 section">
                        <label for="path" class="label form-label col-sm">Path</label>
                        <div class="col-md-8">
                            <select name="path" id="path" class="form-control">
                                <% for(let path of paths) {%>
                                <option value="<%= path %>" <%=user.path===path ? 'selected' : '' %>><%= path %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3 section">
                        <label for="tier" class="label form-label col-sm">Tier</label>
                        <div class="col-md-8">
                            <select name="tier" id="tier" class="form-control">
                                <% for(let tier of tiers) {%>
                                <option value="<%= tier %>" <%=user.tier===tier ? 'selected' : '' %>><%= tier %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="row g-3 section">
                        <label for="jobTitle" class="label form-label col-sm">Job Title</label>
                        <div class="col-md-8">
                            <input type="jobTitle" id="jobTitle" name="job_title" placeholder="Job Title"
                                class="form-control" aria-label="jobTitle" value="<%=user.job_title%>">
                        </div>
                    </div>
                    <div class="row g-3 section">
                        <label for="jobDescription" class="label form-label col-sm">Job Description</label>
                        <div class="col-md-8">
                            <textarea id="jobDescription" name="job_description" placeholder="Job Description" rows="5"
                                cols="40" aria-label=" jobDescription"><%=user.job_description%>
                </textarea>
                        </div>
                    </div>

                    <div class="section">
                        <div class="row g-3 section">
                            <label for="field_of_study" class="label form-label col-sm">Field of Study</label>
                            <div class="col-md-8">
                                <select name="field_of_study" id="field_of_study" class="form-label">
                                    <% for(let field of fields) { %>
                                    <option value="<%= field %>" <%=user.field_of_study===field ? 'selected' : '' %>>
                                        <%= field %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="row g-3 section">
                            <label for="salary" class="label form-label col-sm">Salary</label>
                            <div class="col-md-8">
                                <input type="salary" id="salary" name="salary" placeholder="Average salary"
                                    class="form-control" aria-label="salary" value="<%=user.salary%>">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 section">
                        <label for="education_required" class="label form-label col-4">Education Required</label>
                        <div class="col-md-8">
                            <input class="education_required form-control" type="text" name="education_required"
                                id="education_required" placeholder="Education Required" aria-label="Education Required"
                                value="<%=user.education_required%>">
                        </div>
                    </div>

                    <div class="row g-3 section">
                        <label class="label form-label col-4" for="location">Location</label>
                        <div class="col-sm-4">
                            <input type="text" id="city" name="location[city]" class="form-control" placeholder="City"
                                aria-label="City" value="<%=user.location.city%>">
                        </div>
                        <div class="col-sm">
                            <select id="state" name="location[state]" class="form-control" aria-label="State"
                                value="<%=user.location.state%>">
                                <% for(let state of states) { %>
                                <option value="<%=state%>" <%=user.location.state===state ? 'selected' : '' %>>
                                    <%= state %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-sm">
                            <input type="text" name="location[zip]" class="form-control" placeholder="Zip"
                                aria-label="Zip" value="<%=user.location.zip%>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button id="edit" class="btn btn-info">Submit Changes</button>
        </div>
    </form>

    <div class="buttons">
        <form action="/restricted/<%=user._id%>?_method=DELETE" method="POST">
            <button id="delete" class="btn btn-danger">Delete Profile</button>
        </form>
    </div>


</div>